# 일단 문제가 생기기 전까지, 확실히 알기 전까지는 대부분 기본 값으로
# default value가 컸을때 좋은것 같은 것들은.. 커스텀 안한다.. 메모리 사용량 문제가 되면 그때 수정
# default value가 커서 확실히 문제가 되어 보이는 것만 커스텀한다.

[mysqld]

max_allowed_packet = 1G # 네트워크 패킷 크기? 최대로 설정해도 필요한 만큼만 메모리를 사용함

log-bin=mysql-bin
binlog_format=mixed
expire_logs_days=7
slow_query_log=1
long_query_time=2
event_scheduler=ON

server-id = 1

# INNODB options
innodb_buffer_pool_size = 3G

# Character set Config (utf8mb4)
character_set-client-handshake  = FALSE
character-set-server            = utf8mb4
collation_server                = utf8mb4_general_ci
init_connect                    = set collation_connection=utf8mb4_general_ci
init_connect                    = set names utf8mb4